---
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await Astro.glob('../posts/*.md');
const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];
const title="Tag Index";
---
<BaseLayout pageTitle={title}>
    <style>
        a {
          color: #00539F;
        }
      
        .tags {
          display: flex;
          flex-wrap: wrap;
        }
      
        .tag {
          margin: 0.25em;
          border: dotted 1px #a1a1a1;
          border-radius: .5em;
          padding: .5em 1em;
          font-size: 1.15em;
          background-color: #F8FCFD;
        }
      </style>
    <div>{tags.map( (tag) => <p><a href={`/tags/${tag}`}>{tag}</a></p> )}</div>
</BaseLayout>