---
import BaseLayout from '../layouts/BaseLayout.astro'
import Greeting from '../components/Greeting';

const pageTitle = "Home Page 3";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog</h2>

  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey There"]} />

</BaseLayout>